{% extends 'baseview.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <h2 class="homepage-title">Добро пожаловать на главную страницу проекта Django! <span class="icon-emo-happy"></span></h2>
  
  <div class="homepage-content">
    <a href="{% url 'view_catalog' %}" class="btn btn-primary homepage-btn">Каталог товаров</a>
  </div>
     <!-- Контейнер для проверки возраста -->
  <div class="age-check-container" id="ageForm">
      <h3>Введите вашу дату рождения:</h3>
      <input type="date" id="birthDate" required>
      <button id="checkAgeButton" class="btn btn-primary homepage-btn">Проверить возраст</button>
  </div>
  <script src="{% static 'js/home.js' %}"></script>
</body>  
{% endblock %}

