{% extends 'baseview.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/js-animation.css' %}">
</head>
<body>
<div class="gradient-background">
<!-- Hero Section -->
<section id="hero-section" title="Добро пожаловать в Lishyk Autosalon" role="banner" aria-label="Главный раздел">
    <div class="hero-content">
        <h1>
            Добро пожаловать в 
            <a href="#partners-logos-banners" title="Перейти к логотипам и баннерам">
                Lishyk Autosalon
            </a>
        </h1>
        <p><strong>Широкий выбор автомобилей</strong> по лучшим ценам и условиям!</p>
        <form action="{% url 'view_catalog' %}">
            <button type="submit" title="Посмотреть каталог">Посмотреть каталог</button>
        </form>
        <!-- Цитата -->
        <section id="quote-section">
            <blockquote>
                <q cite="https://ru.citaty.net/tsitaty/472075-entso-ferrari-edinstvennye-moi-druzia-kotorym-ia-veriu-do-kontsa/">
                    Единственные мои друзья, которым я верю до конца, — это автомобили.
                </q>
                <footer>— Энцо Феррари</footer>
            </blockquote>
        </section>
    </div>
</section>

<!-- Последние новости -->
<section id="latest-news-section" aria-labelledby="latest-news-title" lang="ru" style="margin-top: 20px;">
    <h2 id="latest-news-title">Последние новости</h2>

    <div class="latest-news-container">
        <div class="news-image">
            <img src="{{ latest_news.photo.url }}" alt="{{ latest_news.title }}" width="200" title="{{ latest_news.title }}" loading="lazy">
        </div>

        <div class="news-text">
            <h3><em>{{ latest_news.title }}</em></h3>
            <p>{{ latest_news.short_description }}</p>
            <a href="{% url 'news_detail' latest_news.id %}" class="read-more" title="Читать далее о {{ latest_news.title }}">Читать далее</a>
        </div>

        <aside class="news-quote">
            <blockquote lang="en">
                <!-- <p>Легковой автомобиль <br>
                По дороге мчится. <br>
                А за ним густая пыль <br>
                Тучею клубится.</p> -->
                <p>Since ye distemper and defile<br>
                Sweet Herè by the measured mile,<br>
                Nor aught on jocund highways heed<br>
                Except the evidence of speed …</p>
            </blockquote>
        </aside>

        <aside class="news-quote">
            <blockquote lang="ru">
                <p>
                    Хёндай Акцент –<wbr> Прекрасная машина.<wbr> Ей в мире равных нет.<wbr> Как Р'eмбрандта картина
                </p>
            </blockquote>
        </aside>
        <div class="audio-container">
            <audio controls>
                <source src="{% static 'audio/episode_content.mp3' %}" type="audio/mpeg">
                Ваш браузер не поддерживает воспроизведение аудио.
            </audio>
        </div>
    </div>
</section>

<!-- Раздел с партнерами, логотипами и баннерами -->
<section id="partners-logos-banners" aria-labelledby="partners-logos-banners-title" style="margin-top: 20px;">
    <hr>
    <h2 id="partners-logos-banners-title" style="text-align: center;">Главная страница</h2>
    <hr>
    <div class="partners-logos-banners-container">
        <!-- Колонка с логотипами компаний -->
        <section id="company-logos" aria-labelledby="company-logos-title" class="logos-column">
            <h2 id="company-logos-title">Логотип компании</h2>
            <ul>
                {% for company in company_info %}
                <li>
                    <a href="{{ company.website }}" target="_blank" title="Перейти на сайт {{ company.name }}" rel="noopener noreferrer">
                        <abbr title="Логотип компании {{ company.name }}">
                            <img src="{{ company.logo.url }}" alt="{{ company.name }} Логотип" loading="lazy">
                        </abbr>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <!-- Колонка с баннерами компаний -->
        <section id="company-banners" aria-labelledby="company-banners-title" class="banners-column">
            <h2 id="company-banners-title">Баннер компании</h2>
            <div class="banners-grid">
                {% for company in company_info %}
                <div class="banner-item">
                    {% for banner in company.banners.all %}
                    <a href="{% url 'about' %}" target="_blank" title="Перейти к баннеру {{ company.name }}" rel="noopener noreferrer">
                        <img src="{{ banner.image.url }}" alt="{{ company.name }} Баннер" loading="lazy">
                    </a>
                    {% empty %}
                    <p><small>Нет доступных баннеров.</small></p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Колонка с партнерами -->
        <section id="partners-section" aria-labelledby="partners-title" class="partners-column">
            <h2 id="partners-title" style="text-align: center;">Наши партнеры</h2>
            <div class="partners-container">
                {% for partner in partners %}
                <div class="partner-item">
                    <a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                        <p class="partner-name">{{ partner.name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>
<!-- <div class="js-animation">
    <img src="{% static 'images/buyer.png' %}" alt="Buyer" class="person buyer">
    <img src="{% static 'images/carimage.png' %}" alt="Car" class="car-front" id="car-front">
    <img src="{% static 'images/seller.png' %}" alt="Seller" class="person seller">
</div>    -->
<!-- Каталог автомобилей -->
<section itemscope id="catalog-section" aria-labelledby="catalog-title" style="margin-top: 20px;">
    <h2 id="catalog-title">Каталог автомобилей</h2>
    <div class="catalog-container">
        {% for product in products %}
            <div class="product-item">
                <a href="{% url 'product_detail' product.id %}" title="Просмотреть детали {{ product.name }}" aria-label="Детали {{ product.name }}">
                    <img src="{{ product.photo.url }}" alt="{{ product.name }}" loading="lazy">
                    <p>
                        <b>{{ product.name }}</b>
                        <span class="product-price">{{ product.price }} руб.</span>
                    </p>
                    <span class="product-name">Подробней</span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<!-- Прелоадер -->
<div id="preloader">
    <div class="circle-container">
        <div class="circle horizontal"></div>
        <div class="circle vertical"></div>
    </div>
</div>

<!-- Анимация автомобиля -->
<div id="car-animation">
    <div class="sky">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>
    <div class="road">
        <div class="dashed-line"></div>
    </div>
    <div class="grass">
        <div class="bush"></div>
        <div class="bush"></div>
    </div>
    
    <div class="car"> 
        <div class="body">
            <div class="roof"></div>
            <!-- <div class="windshield"></div>   -->
            <!-- <div class="wiper">
                <div class="wiper wiper-left"></div>
                <div class="wiper wiper-right"></div> 
            </div> -->
            <div class="wiper wiper-left"></div>
            <div class="wiper wiper-right"></div>
            <div class="window window-left"></div> <!-- Левое окно -->
            <div class="window window-right"></div> <!-- Правое окно -->
            <div class="door door-left"></div> <!-- Левая дверь -->
            <div class="door door-right"></div> <!-- Правая дверь -->
            <div class="handle handle-left"></div> <!-- Левая ручка двери -->
            <div class="handle handle-right"></div> <!-- Правая ручка двери -->
            <!-- <div class="trunk"></div> -->
            <div class="bumper"></div>
            <div class="lights lights-left"></div> <!-- Левый свет -->
            <div class="lights lights-right"></div> <!-- Правый свет -->
            <div class="tail-light tail-light-left"></div> <!-- Левая задняя фара -->
            <div class="tail-light tail-light-right"></div> <!-- Правая задняя фара -->
        </div>
        <div class="wheels">
            <div class="wheel wheel-left"></div>
            <div class="wheel wheel-right"></div>
            <div class="center-cap-left"></div>
            <div class="center-cap-right"></div>
        </div>
        <div class="splash splash-left"></div>
        <div class="splash splash-right"></div>
        <div class="splash splash3"></div>
        <div class="splash splash4"></div>
        <div class="splash splash5"></div>
        <!-- <div class="lights"></div> -->
    </div>
    <div class="puddle"></div>
    <!-- Название компании -->
    <h1 class="company-name">Lishyk Autosalon</h1>
</div>


<!-- Раздел с партнерами -->
<!-- <section id="partners-section" aria-labelledby="partners-title" style="margin-top: 20px;">
    <h2 id="partners-title" style="text-align: center;">Наши партнеры</h2>
    <div class="partners-container">
        {% for partner in partners %}
        <div class="partner-item">
            <a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                <p class="partner-name">{{ partner.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section> -->

    <!--Выпадающий список-->
    <!-- <aside id="download-section" aria-labelledby="download-title" style="margin-top: 10px; text-align: left;">
        <h4>Дополнительная литература <small>(можно не читать)</small></h4>
        
        <form action="" method="get">
            <label for="literature-select">Выберите литературу:</label>
            <select id="literature-select" name="literature" required style="margin-bottom: 10px;">  
                <option value="" disabled selected>Выберите документ</option>
                <option value="The 2000-2005 World Outlook for Passenger Car Tyres (Strategic Planning Series).pdf" {% if request.GET.literature == 'The 2000-2005 World Outlook for Passenger Car Tyres (Strategic Planning Series).pdf' %}selected{% endif %}>
                    📄 The 2000-2005 World Outlook for Passenger Car Tyres
                </option>
                <option value="Free-Car-Mag-112.pdf" {% if request.GET.literature == 'Free-Car-Mag-112.pdf' %}selected{% endif %}>
                    📄 Free Car Mag 112
                </option>
                <option value="dkp.pdf" {% if request.GET.literature == 'dkp.pdf' %}selected{% endif %}>
                    📄 Бланк договора
                </option>
            </select>
            <br>
            <button type="submit" style="background-color: #0056b3; color: white; padding: 10px; text-decoration: none; border-radius: 5px;">Скачать выбранный документ</button>
        </form>        
    
        {% if request.GET.literature %}
            <a href="{% static 'documents/' %}{{ request.GET.literature }}" download style="background-color: #0056b3; color: white; padding: 10px; text-decoration: none; border-radius: 5px;">
                Скачать выбранный документ
            </a>
        {% endif %}
    </aside>  -->

    <!-- <section id="image-section" style="width:100%">
        <picture>
            <source media="(max-width: 700px)" 
                    sizes="(max-width: 500px) 50vw, 10vw"
                    srcset="{% static 'images/loadingnarrow.jpg' %} 138w, 
                            {% static 'images/loadingnarrowhd.jpg' %} 138w"
                    title="Низкое разрешение изображения для экранов до 700px">
            
            <source media="(max-width: 1400px)" 
                    sizes="(max-width: 1000px) 100vw, 50vw"
                    srcset="{% static 'images/loadingfigure.jpg' %} 416w, 
                            {% static 'images/loadingfigurehd.jpg' %} 416w"
                    title="Изображение для экранов до 1400px">
        
            <img src="{% static 'images/loading.jpg' %}" 
                 alt="adaptive picture"
                 title="Основное изображение для остальных экранов">
        </picture>
    </section>  -->

    <!--Листинг-->
    <!-- <p>
    <code>
      var cars = ["Audi", "BMW", "Ford", "Volkswagen"];<br>
      document.writeln("I like " + cars.length + " cars");
    </code>
    </p>
    <p>The variable in this example is <var>cars</var></p>
    <p>The output from the code is: <samp>I like 4 cars</samp></p>
    <p>When prompted for my favorite car, I typed: <kbd>Ford</kbd></p> -->

    <!--Микроданные-->
    <!-- <div itemscope itemtype="http://schema.org/AutoSalon">
        <div itemprop="name">Ford Mustang</div>
        <span itemprop="description">Мощный и стильный спортивный автомобиль с двигателем V8 и агрессивным дизайном.</span> 
        Автомобиль доступен с 
        <time itemprop="releaseDate" datetime="2024-03-15">15 марта 2024 года</time>.
    </div> -->

    <!--Контейнер span-->
    <!-- <p>
        <span class="letter">А</span>втомобили — это не просто транспортные средства; это выражение свободы и стиля. 
        Каждый автомобиль рассказывает свою уникальную историю и связывает владельца с миром. 
        Вот почему выбор автомобиля — это важное решение, которое отражает вашу личность и образ жизни.
    </p>
    <p>Джон Дойл</p> -->

    <!--Радио кнопки и чекбоксы-->
    <!-- <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <fieldset>
          <legend>Выберите дополнительные услуги в автомобиле:</legend>
      
          <input type="radio" name="extra_service" value="gps" id="gps">
          <label for="gps">GPS-навигация</label><br>
      
          <input type="radio" name="extra_service" value="heated_seats" id="heated_seats">
          <label for="heated_seats">Подогрев сидений</label><br>
      
          <input type="radio" name="extra_service" value="premium_sound" id="premium_sound">
          <label for="premium_sound">Премиум звуковая система</label><br>

          <input type="radio" name="extra_service" value="leather_seats" id="leather_seats">
          <label for="leather_seats">Кожаные сиденья</label>

        </fieldset>
        <br>

        <fieldset>
          <legend>Выберите дополнительные услуги в автосалоне:</legend>
      
          <input type="checkbox" name="extras" value="insurance" id="insurance">
          <label for="insurance">Страхование</label><br>
      
          <input type="checkbox" name="extras" value="warranty" id="warranty">
          <label for="warranty">Гарантия на 2 года</label><br>
      
          <input type="checkbox" name="extras" value="tinting" id="tinting">
          <label for="tinting">Тонировка окон</label>
        </fieldset>
        <br>
      
        <input type="submit" value="Отправить">
        <input type="reset" value="Сбросить">
    </form>
    {% comment %} <form action="" method="post">
        Login:
        <input type="text" name="login" size="10" autocomplete="on">
        <br>
        Password:
        <input type="password" name="pass" maxlength="8">
        <br><br>
        <input type="submit" value="Log in">
    </form> {% endcomment %} -->   
</div>
<script src="{% static 'js/js-animation.js' %}"></script>
</body>
{% endblock %}
