{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/signup_form.css' %}">
</head>
<body>
  <div class="form-container">
    <div class="form-box">
      <h2 class="form-title">Sign up as a {{ user_type }}</h2>
      {% if form.non_field_errors %}
        <div class="error-message">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="submit-button">Sign up</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
