{% extends 'baseview.html' %}

{% block content %}
<div class="policy-container">
    <table width="100%">
        <tr>
            <td align="center">
                <h1>Политика конфиденциальности Lishyk Autosalon</h1>
                <p><strong>Дата вступления в силу: Май 2024</strong></p>
            </td>
        </tr>
    </table>    
    
    
    <p>Мы в Lishyk Autosalon обязуемся защищать конфиденциальность наших клиентов и посетителей нашего сайта. В данном документе изложены наши принципы по сбору, использованию и защите вашей личной информации, а также ваши права на управление этими данными.</p>
    
    <h2>1. Какие данные мы собираем?</h2>
    <p>Мы можем собирать следующие виды персональных данных:</p>
    <ul>
        <li><strong>Контактная информация:</strong> Имя, номер телефона, адрес электронной почты.</li>
        <li><strong>Информация об автомобиле:</strong> Модель, марка, регистрационный номер.</li>
        <li><strong>Финансовая информация:</strong> Для оформления автокредитов или страхования.</li>
        <li><strong>История обслуживания:</strong> Данные о проведенных технических осмотрах и ремонте.</li>
        <li><strong>Информация об использовании нашего сайта:</strong> IP-адрес, тип устройства, файлы cookie, история просмотров.</li>
    </ul>
    
    <h2>2. Как мы используем ваши данные?</h2>
    <p>Ваши персональные данные могут использоваться для следующих целей:</p>
    <ul>
        <li><strong>Обработка и выполнение заказов:</strong> Продажа автомобилей, оформление кредитов, сервисное обслуживание.</li>
        <li><strong>Улучшение качества наших услуг:</strong> Анализ предпочтений клиентов для предложения более релевантных услуг.</li>
        <li><strong>Связь с клиентами:</strong> Для предоставления информации о новых моделях, акциях, спецпредложениях или изменениях в обслуживании.</li>
        <li><strong>Юридические цели:</strong> Соблюдение законодательства в области финансового учета, налогообложения и защиты прав потребителей.</li>
    </ul>
    
    <h2>3. Файлы cookie и подобные технологии</h2>
    <p>Мы используем файлы cookie для того, чтобы улучшить пользовательский опыт на нашем сайте. Cookie помогают нам анализировать поведение посетителей, а также запоминать ваши предпочтения. Вы можете управлять настройками файлов cookie в вашем браузере.</p>
    
    <h2>4. Передача данных третьим лицам</h2>
    <p>Мы не продаем и не передаем ваши персональные данные третьим лицам, за исключением следующих случаев:</p>
    <ul>
        <li><strong>Банки и кредитные организации:</strong> Для оформления автокредитов.</li>
        <li><strong>Страховые компании:</strong> Для оформления полисов страхования.</li>
        <li><strong>Партнеры по техническому обслуживанию:</strong> Для проведения ремонта и сервиса автомобилей.</li>
        <li><strong>Государственные органы:</strong> В случае необходимости соблюдения законодательных требований.</li>
    </ul>
    
    <h2>5. Как мы защищаем ваши данные?</h2>
    <p>Мы принимаем все разумные меры для обеспечения безопасности ваших персональных данных. Это включает использование шифрования данных, защиту серверов, ограничение доступа к персональной информации только для сотрудников, которые действительно нуждаются в ней для выполнения своих рабочих обязанностей.</p>
    
    <h2>6. Ваши права</h2>
    <p>Вы имеете право на:</p>
    <ul>
        <li><strong>Доступ к своим данным:</strong> Запросить копию персональных данных, которые мы храним.</li>
        <li><strong>Исправление данных:</strong> Обновление или исправление ваших данных, если они неверны или устарели.</li>
        <li><strong>Удаление данных:</strong> Вы можете попросить нас удалить ваши данные, если они больше не нужны для предоставления услуг.</li>
        <li><strong>Отказ от маркетинговых рассылок:</strong> Вы всегда можете отказаться от получения рекламных сообщений, перейдя по ссылке "Отписаться" в письме или обратившись к нам напрямую.</li>
    </ul>
    
    <h2>7. Контактная информация</h2>
    <p>Если у вас есть вопросы относительно нашей политики конфиденциальности или вы хотите воспользоваться своими правами, свяжитесь с нами по следующему адресу:</p>
    <p><strong>Lishyk Autosalon</strong><br>
    Адрес: Республика Беларусь, г. Минск, проспект Независимости, XХX, офис 001 <br>
    Электронная почта: info@lishykautosalon.by<br>
    Телефон: +375 29 146 45 10</p>
    
    <h2>8. Изменения в политике конфиденциальности</h2>
    <p>Мы можем периодически обновлять нашу политику конфиденциальности в соответствии с изменениями в законодательстве или нашей деятельности. О любых изменениях мы будем уведомлять вас на нашем сайте.</p>
</div>
{% endblock %}
